body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #121212;
  color: #cfcfcf;
}

.card {
  background-color: #1d1d1d;
  color: #d0d0d0;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.form-label {
  color: #e0e0e0;
}

.form-control {
  background-color: #2a2a2a;
  color: #f0f0f0;
  border: 1px solid #444;
}

#calculatedBmi {
  margin-top: 20px;
  color: #f0f0f0;
}

#category {
  font-weight: bold;
  font-size: 1.5rem;
  color: #b0b0b0;
}

#resultBlock {
  display: none;
}
